.container {
  display: flex;
  width: 1440px;
  height: 496px;
  padding: 36px 929px 316px 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.select-date {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.button-start {
  display: flex;
  width: 43px;
  height: 24px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;

  color: #989898;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.timer {
  display: flex;
  width: 346px;
  height: 72px;
  align-items: flex-start;
  gap: 24px;
}
.field {
  display: flex;
  width: 76px;
  height: 72px;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  /* font-family: Montserrat; */
  width: 55px;
  height: 48px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}
.label {
  color: #2e2f42;
  /* font-family: Montserrat; */
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
