.container {
  display: flex;
  width: 355px;
  height: 144px;
  margin: 36px 156px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.select-date {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

#datetime-picker {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 272px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #808080;

  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#datetime-picker:hover {
  border: 1px solid #000000;
}

#datetime-picker:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  cursor: not-allowed;
  color: #808080;
}

.button-start {
  display: flex;
  width: auto;
  height: auto;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: none;

  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.button-start:hover {
  background-color: #6c8cff;
}

.button-start:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer {
  display: flex;
  width: 100%;
  height: 72px;
  align-items: flex-start;
  gap: 24px;
}
.field {
  display: flex;
  width: 76px;
  height: 72px;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  text-align: center;
  width: 55px;
  height: 48px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
}
.label {
  color: #2e2f42;
  font-family: Montserrat;
  width: auto;
  height: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: uppercase;
}
