.form {
  width: 360px;
  /* height: auto; */
}
.delay-label {
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px; */
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.delay-input-form {
  display: flex;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
}

.delay-input-form:hover {
  border: 1px solid #000000;
}

.delay-input-form:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.delay-input-form:disabled {
  background-color: #fafafa;
  border: 1px solid #808080;
  cursor: not-allowed;
  color: #808080;
}

.state-label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.state-input {
  width: 360px;
  height: 64px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #808080;
}
.submit-button {
  display: flex;
  width: 360px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;

  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.submit-button:hover {
  background-color: #6c8cff;
}
